@charset "UTF-8";
// ===========================
// TABLE
// ===========================

.table {
  @include mq(sm2) {
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    background-color: #F2F5F7;
    border: 1px solid #E6EEF2;
    box-sizing: border-box;
    font-weight: 700;
    padding: 20px 15px;
    width: 185px;
  }

  td {
    border: 1px solid #E6EEF2;
    box-sizing: border-box;
    padding: 20px 15px;
	}

  &.type2 {
    table {
      @include mq(sm2) {
        width: 220vw;
      }
    }
  }
  
}