@charset "UTF-8";
// ===========================
// Text: Title, Tag, 
// Label, Link, Button, ..
// ===========================

// Setting for WP's Text Editor
.no-reset {
  h2 {
  	position: relative;
    font-size: fs(20);
    line-height: fs(30);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(18);
      line-height: fs(27);
    }
  }
  h3 {
  	position: relative;
    font-size: fs(20);
    line-height: fs(30);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(18);
      line-height: fs(27);
    }
  }
  h4 {
  	position: relative;
    font-size: fs(18);
    line-height: fs(27);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(16);
      line-height: fs(24);
    }
  }
  h5 {
  	position: relative;
    font-size: fs(14);
    line-height: fs(21);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  p {
  	position: relative;
    font-size: fs(14);
    line-height: fs(21);
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  a {
    // color: #7B7B6C;
    transition: all .3s;

    &:hover {
      opacity: .7;
    }
  }
}

/* -------------------
  Title by level
--------------------*/
.title-lv2 {
  position: relative;
  font-size: fs(20);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv3 {
	position: relative;
  font-size: fs(20);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv4 {
	position: relative;
  font-size: fs(18);
  line-height: fs(27);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(16);
    line-height: fs(24);
  }
}

.title-lv5 {
	position: relative;
  font-size: fs(14);
  line-height: fs(21);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

/* -------------------
  Description
--------------------*/
.desc {
	font-size: vw(15);
  line-height: vw(32);
  list-style: 1.8;
  @include mq(sm2) {
    font-size: vw2(14);
    letter-spacing: vw2(.35);
    line-height: vw2(28);
  }
}


/* -------------------
  Section Title
--------------------*/
.section-title {
	display: inline-block;
  position: relative;
  font-size: fs(38);
  line-height: fs(57);
  font-family: $font-a;
  @include mq() {
	  font-size: fs(30);
	  line-height: fs(45);
  }
}

.ttl-booking {
  font-size: vw(17);
  letter-spacing: .85px;
  line-height: 1.8;
  margin-bottom: vw(20);
  font-weight: bold;
  text-align: center;
  &.type2 {
    font-size: vw(15);
    @include mq(sm2) {
      font-size: vw2(14);
    }
  }
  @include mq(sm2) {
    font-size: vw2(14);
    letter-spacing: vw2(.7);
    line-height: 1.8;
    margin-bottom: vw2(15);
    // padding: 0 vw2(10);
  }
  p {
    display: inline-block;
    padding: 0 vw(20) 0 vw(25);
    background: url(../images/top/2lines-left.svg) left bottom / .85vw 1.7vw no-repeat, url(../images/top/2lines-right.svg) right bottom / .85vw 1.7vw no-repeat;
    @include mq(sm2) {
      padding: 0 vw2(30);
      background: url(../images/top/2lines-left.svg) left vw2(20) bottom / vw2(8) vw2(20) no-repeat, url(../images/top/2lines-right.svg) right vw2(20) bottom / vw2(8) vw2(20) no-repeat;
    }
  }
  span {
    display: inline;
    // @include mq(sm2) {
    //   padding: 0 vw2(10) 0 vw2(12);
    //   background-size: vw2(8) vw2(20);
    // }
    i {
      display: inline;
      line-height: 1;
      background: url(../images/top/bg-title-booking.svg) bottom -3px center repeat-x;
    }
  }
}

.ttl-goodvalue {
  font-size: vw(22);
  letter-spacing: vw(1.6);
  line-height: vw(57);
  font-weight: bold;
  @include mq(sm2) {
    font-size: vw2(18);
    letter-spacing: vw2(.45);
    line-height: vw2(37);
  }
  span {
    display: inline;
    padding-bottom: vw(10);
    background: url(../images/top/dotline.gif) left bottom / 100% vw(3) no-repeat;
    // dotline
    @include mq(sm2) {
      padding-bottom: vw2(10);
      background-size: 100% vw2(2)
    }
    i {
      display: inline;
      line-height: 1;
      background: url(../images/top/bg-title-booking.svg) bottom -3px center repeat-x;
    }
  }
}

.ttl-ideal {
  font-family: $font-a;
  font-size: vw(33);
  letter-spacing: vw(1.6);
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 0 #fff;
  text-stroke: vw(2) #000;
  -webkit-text-stroke: vw(2) #000;
  @include mq(sm2) {
    font-size: vw2(24);
    letter-spacing: vw2(1.2);
    text-stroke: vw2(1.5) #000;
    -webkit-text-stroke: vw2(1.5) #000;
  }
}

.ttl-dashed {
  font-size: vw(28);
  letter-spacing: vw(2.8);
  line-height: vw(57);
  font-weight: bold;
  @include mq(sm2) {
    font-size: vw2(24);
    letter-spacing: vw2(2.4);
    line-height: 2;
  }
  span {
    padding-bottom: vw(10);
    background: url(../images/top/line-dashed.gif) left bottom/auto vw(2) repeat-x;
    @include mq(sm2) {
      padding-bottom: vw2(10);
      background-size: auto vw2(2)
    }
  }
}

/* -------------------
  Date, time
--------------------*/
.date {
  font-family: $font-a;
  font-size: fs(14);
  line-height: fs(21);
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}


/* -------------------
  Tags, Label
--------------------*/
.tag {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
  padding: 4px 6px;
  background-color: #EDEBDE;
  color: #7B7B6C;
  border-radius: 2px;
  font-size: fs(12);
  line-height: fs(18);
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .7;
  }

  &.type2 {
    padding: 2px 8px 1px;
    background-color: #7B7B6C;
    color: #fff;
  }
}

.label {
  margin-right: 10px;
  padding: 2px 5px;
  font-family: $font-a;
  font-size: fs(10);
  line-height: fs(15);
  border: solid 1px #000;
  background-color: #fff;
  @include mq() {
    padding: 1px 3px;
  }

  &:last-child {
    margin-right: 0;
  }
}


/* -------------------
  Link, Button, Tab
--------------------*/
.link {
  display: block;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }

  &.underline {
    display: inline-block;
    text-decoration: underline;
    font-size: fs(14);
    line-height: 1;
    color: #7B7B6C;
    &:hover{
      text-decoration: none;
    }
  }
}

.link-icon {
  position: relative;
  padding-right: 14px;
  font-size: fs(14);
  line-height: 1;
  color: #7B7B6C;
  transition: all .3s;
  &:hover{
    &:after {
      display: block;
    }
  }
  &:after {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 14px);
    height: 1px;
    background-color: #7B7B6C;
    content: "";
  }
  &.blank {
    background: url(../images/common/icon-blank.svg) right center / 12px 12px  no-repeat;
  }
  &.pdf {
    background: url(../images/common/icon-pdf.svg) right center / 11px 13px  no-repeat;
  }
  &.excel {
    background: url(../images/common/icon-excel.svg) right center / 11px 13px  no-repeat;
  }
}

.link-inline {
  display: inline-block;
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
  font-size: inherit;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
}


.link-access {
  padding: vw(5) 0 vw(5) vw(24);
  font-size: vw(15);
  letter-spacing: vw(.75);
  font-weight: bold;
  line-height: 1.8;
  background: url(../images/top/icon-access.svg) left center / vw(16) vw(16) no-repeat;
  transition: all .3s;
  @include mq(sm2) {
    padding: vw2(5) 0 vw2(5) vw2(22);
    font-size: vw2(14);
    letter-spacing: vw2(.7);
    background-size: vw2(14) vw2(14);
  }
  &:hover {
    opacity: .7;
  }
}

.link-blank {
  display: inline-block;
  padding-right: vw(22);
  background: url(../images/top/icon-blank.svg) right center / vw(11) vw(11) no-repeat;
  font-weight: bold;
  font-size: vw(13);
  transition: all .3s;
  @include mq(sm2) {
    padding-right: vw2(18);
    font-size: vw2(13);
    background-size: vw2(12) vw2(12);
  }
  &:hover {
    opacity: .7;
  }
}

.btn-yellow {
  display: inline-block;
  width: vw(555);
  padding: vw(35);
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-size: vw(22);
  font-weight: bold;
  cursor: pointer;
  @include mq(sm2) {
    width: vw2(350);
    font-size: vw2(17);
    padding: vw2(32) vw2(12);
  }
  span {
    display: block;
    position: relative;
    width: 100%;
    z-index: 2;
    background: url(../images/top/icon-2arrow-right-black.svg) right vw(20) center / vw(12) vw(12) no-repeat;
    @include mq(sm2) {
      background-size: vw2(12) vw2(12);
      background-position: right vw2(5) center;
    }
  }
  &:after, &:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: vw(6);
    transition: transform .2s;
    @include mq(sm2) {
      border-radius: vw2(6);
    }
  }
  &:after{
    background-color: #FFD857;
    transform: translate(3px, 3px);  
    @include mq(sm2) {
      transform: translate(1px, 1px);
    }
  }
  &:before {
    z-index: 1;
    border: 2px solid #000;
    transform: translate(-3px, -3px);
    @include mq(sm2) {
      border-width: vw2(2.5);
      transform: translate(-3px, -3px);
    }
  }
  &:hover{
    &:after, &:before{
      transform: translate(0)
    }
  }
}

.btn-yellow2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: vw2(165);
  height: vw2(50);
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-size: vw2(12);
  font-weight: bold;
  cursor: pointer;
  span {
    display: block;
    position: relative;
    width: 100%;
    z-index: 10000;
  }
  &:after, &:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: vw2(6);
    transition: transform .2s;
  }
  &:after{
    z-index: -2;
    background-color: #FFD857;
    transform: translate(2px, 2px);  
  }
  &:before {
    z-index: -1;
    border: 2px solid #000;
    transform: translate(-2px, -2px);
  }
  &:hover{
    &:after, &:before{
      transform: translate(0)
    }
  }
}

// .btn-yellow {
//   position: relative;
//   display: inline-block;
//   width: vw(555);
//   font-size: 1rem;
//   line-height: 1.625rem;
//   font-weight: bold;
//   z-index: 1;
//   transition: all .3s;
//   &:after {
//     position: absolute;
//     left: vw(5);
//     top: vw(5);
//     display: block;
//     width: 100%;
//     height: 100%;
//     background-color: #FFD857;
//     border-radius: vw(6);
//     z-index: 0;
//     content: "";
//   }
//   span {
//     position: relative;
//     display: block;
//     width: 100%;
//     height: 100%;
//     padding: vw(35);
//     font-size: vw(22);
//     border: solid 1px #000;
//     border-radius: vw(6);
//     background: url(../images/top/icon-2arrow-right-black.svg) right vw(20) center / vw(12) vw(12) no-repeat;
//     z-index: 1;
//     text-align: center;
//     transition: all .3s;
//     content: "";
//   }
// }

.btn-direct {
  padding: vw(20) vw(25);
  font-size: vw(15);
  font-weight: bold;
  letter-spacing: vw(.75);
  background-color: #2E2E2E;
  border: solid 2px #898989;
  color: #fff;
  border-radius: vw(6);
  text-align: center;
  transition: all .3s;
  @include mq(sm2) {
    padding: vw2(20) vw2(25);
    font-size: vw2(15);
    letter-spacing: vw2(.75);
    border-radius: vw2(6);
  }
  &:hover {
    color: #2E2E2E;
    background-color: #fff;
    span {
      background-image: url(../images/top/icon-arrow-black.svg);
    }
  }
  span {
    display: inline-block;
    padding-left: vw(24);
    background: url(../images/top/icon-arrow-white.svg) left center / vw(16) vw(16) no-repeat;
    @include mq(sm2) {
      padding-left: vw2(24);
      background: url(../images/top/icon-arrow-white.svg) left center / vw2(16) vw2(16) no-repeat;
    }
  }
}

/* -------------------
  Group button
--------------------*/

.post-ctrl {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px 0;

  &--link {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0px;
    font-size: fs(14);
    line-height: 1;
    transition: all .3s;
    color: #7B7B6C;
    background: url(../images/common/icon-arrow-right-gray.svg) right center / 10px 10px no-repeat;
    
    &:hover{
      &:after {
        display: block;
      }
    }
    &:after {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% - 20px);
      height: 1px;
      background-color: #7B7B6C;
      content: "";
    }
  }

  .back {
    margin-right: auto;
    padding: 0 0 0 20px;
    background: url(../images/common/icon-arrow-left-gray.svg) left center/10px 10px no-repeat;
    &:after {
      left: 20px;
    }
  }

  .next {
    margin-left: auto;
  }
  &--menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding-top: 24px;
    font-size: fs(14);
    font-weight: bold;
    color: #7B7B6C;
    background: url(../images/common/icon-all.svg) no-repeat top center;
    background-size: 18px 18px;
  }
}

.post-direct {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px 11px;
      border-top: 1px solid #C7C7C7;
      border-bottom: 1px solid #C7C7C7;
      @include mq() {
        padding: 30px 20px 20px;
      }
      &-tag {
        @include mq() {
          width: 100%;
        }
      }
      &-sns {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        @include mq() {
          width: 100%;
          justify-content: center;
          margin-top: 20px;
        }
        a {
          margin-right: 20px;
          @include mq() {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border: solid 1px #7B7B6C;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: auto;
            }
          }
          &.facebook {
            padding-bottom: 2px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }