@charset "UTF-8";
/* -------------------
  COMMON
--------------------*/

// =========================================
// Font family
// =========================================

// @font-face{
//   font-family: EuclidFlex;
//   src: url('../font/EuclidFlex/EuclidFlex-Regular.eot'); // IE9 Compat Modes
//   src: url('../font/EuclidFlex/EuclidFlex-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
//        url('../font/EuclidFlex/EuclidFlex-Regular.woff2') format('woff2'),  Super Modern Browsers 
//        url('../font/EuclidFlex/EuclidFlex-Regular.woff') format('woff'), // Pretty Modern Browsers
//        url('../font/EuclidFlex/EuclidFlex-Regular.ttf')  format('truetype'), // Safari, Android, iOS
//        url('../font/EuclidFlex/EuclidFlex-Regular.svg#svgFontName') format('svg'); // Legacy iOS
// }

body {
  font-family: $font-base;
  &.fixed {
    height: 100vh;
    overflow: hidden;
    // display: flex;
  }
}

// =========================================
// CONTROL VIEW ELEMENT
// =========================================

.pc-only {
  display: block;

  @include mq() {
    display: none !important;
  }
}

.pc-only2 {
  display: block;

  @include mq(sm2) {
    display: none !important;
  }
}

.pc-only3 {
  display: inline-block;

  @include mq() {
    display: none !important;
  }
}

.sp-only {
  display: none !important;

  @include mq() {
    display: block !important;
  }
}

.sp-only2 {
  display: none !important;

  @include mq(sm2) {
    display: block !important;
  }
}



// =========================================
// WRAPPER
// =========================================
.wrapper {
  // min-width: 1400px;
  padding-top: 70px;
  overflow: hidden;
  @include mq(sm2) {
    // min-width: 100%;
    padding-top: 0;
  }
}

// =========================================
// MAIN
// =========================================
.main {
  // padding-bottom: 80px;
  // background-color: #F7F6ED;
}

// =========================================
// CONTAINER
// =========================================
.container {
  position: relative;
  width: 1040px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
}