@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
	padding: vw(60) 0 vw(25);
	background-color: #000;
	color: #E4E4E4;
	@include mq(sm2) {
		padding: vw2(30) 0 vw2(100);
	}
	&-inner {
		width: vw(1100);
		margin: 0 auto;
		@include mq(sm2) {
			width: vw2(325);
		}
	}
	&-intro {
		display: flex;
		align-items: center;
		margin-bottom: vw(34);
		@include mq(sm2) {
			display: block;
		}
	}
	&-logo {
		margin-right: vw(34);
		font-size: vw(22);
		letter-spacing: vw(2.2);
		font-weight: bold;
		color: #fff;
		@include mq(sm2) {
			margin-right: 0;
			font-size: vw2(20);
			letter-spacing: vw2(2);
		}
	}
	&-address {
		font-size: vw(13);
		color: #C1C1C1;
		@include mq(sm2) {
			margin-top: vw2(25);
			font-size: vw2(13);
		}
	}
	&-cnt {
		display: flex;
		justify-content: space-between;
		@include mq(sm2) {
			display: block;
		}
		&--left {
			display: flex;
			@include mq(sm2) {
				display: block;
			}
		}
		&--right {
			&-direct {
				@include mq(sm2) {
					.btn-direct {
						display: block;
						margin: vw2(30) auto;
					}
				}
			}
		}
		&--time {
			width: vw(140);
			font-size: vw(14);
			@include mq(sm2) {
				width: 100%;
				font-size: vw2(14);
			}
		}
		&--listWrap {

		}
		&--listLabel {
			font-size: vw(14);
			margin-bottom: vw(8);
			@include mq(sm2) {
				font-size: vw2(14);
				margin: vw2(8) 0;
			}
		}
		&--list {
			li {
				margin-bottom: vw(10);
				font-size: vw(13);
				@include mq(sm2) {
					font-size: vw2(12);
					margin: vw2(8) 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
				span {
					display: inline-block;
					position: relative;
					padding-left: vw(12);
					margin-right: vw(15);
					@include mq(sm2) {
						display: block;
						margin-right: 0;
						padding-left: vw2(12);
					}
					&:before {
						position: absolute;
						left: 0;
						top: vw(6);
						display: block;
						width: vw(5);
						height: vw(5);
						background: url(../images/top/icon-list.svg) no-repeat;
						background-size: 100% 100%;
						content: "";
						@include mq(sm2) {
							top: vw2(7);
							width: vw2(5);
							height: vw2(5);
						}
					}
				}
			}
		}
	}
	&-copy {
		margin-top: vw(15);
		color: #E8E8E8;
		font-size: vw(10);
		letter-spacing: vw(.5);
		text-align: right;
		@include mq(sm2) {
			font-size: vw2(10);
			letter-spacing: vw2(.5);
			text-align: left;
		}
	}
	&-copy2 {
		color: #fff;
		font-size: vw(10);
		letter-spacing: vw(.5);
		text-align: right;
		@include mq(sm2) {
			font-size: vw2(10);
			letter-spacing: vw2(.5);
			text-align: left;
			margin-top: vw2(30);
		}
	}
	&-copy2Wrap {
		border-top: solid 1px #fff;
		margin-top: vw(30);
		padding-top: vw(30);
		padding-left: vw(140);
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		font-size: vw(13);
		letter-spacing: vw(.5);
		@include mq(sm2) {
			display: block;
			padding-left: 0;
			padding-top: 8vw;
			font-size: vw2(12);
			letter-spacing: vw2(.5);
		}
		&--list {
			li {
				margin-bottom: vw(8);
				@include mq(sm2) {
					margin: 0 0 vw2(8);
				}
			}
		}
	}
}