@charset "UTF-8";
/* -------------------
  HEADER
--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  width: 100vw;
  padding: 0 vw(40) 0 0;
  transition: all .4s;
  z-index: 100001;
  &.bg-white {
    height: 70px;
    background: rgba(255, 255, 255, 0.95);
    @include mq(sm2) {
      display: none;
    }
  }
  @include mq(sm2) {
    position: fixed;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: vw2(70);
    top: auto;
    left: 0;
    bottom: 0;
    padding: 0 vw2(10);
    background-color: #fff;
    z-index: 9999;
  }
  &-msgWrap {
    @include mq(sm2) {
      width: vw2(127);
    }
  }
	&-msg {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 24px 10px 12px;
    background: url(../images/top/bg-header-msg.svg) no-repeat;
    background-size: 100% 100%;
    @include mq(sm2) {
      width: 100%;
      padding: 0;
      font-size: vw2(8);
      background: none;
      img {
        width: 100%;
      }
      // background-size: contain;
    }
  }
  &-tel {
    display: flex;
    align-items: center;
    margin-right: vw(5);
    span {
      display: inline-block;
      margin-left: 3px;
      font-size: 36px;
      font-weight: bold;
      font-family: $font-a;
      color: #FFD857;
      text-shadow: 1px 1px 0 #FFD857;
      text-stroke: 2px #000;
      -webkit-text-stroke: 2px #000;
      @include mq(sm2) {
        display: none;
      }

    }
    @include mq(sm2) {
      width: vw2(54);
      margin-right: vw2(5);
      img {
        width: 100%;
      }
    }
  }
  &-date {
    font-size: 13px;
    @include mq(sm2) {
      font-size: vw2(9);
      font-weight: bold;
      text-align: center;
    }
  }
}


