@charset "UTF-8";
/* -------------------
  TOP PAGE
--------------------*/
.main {
	&-mv {
		position: relative;
		margin-bottom: vw(20);
		@include mq(sm2) {
			margin-bottom: vw2(50);
		}
		&--bg {
			text-align: right;
			@include mq(sm2) {
				height: vw2(480);
				padding-top: vw2(55);
			}
			img {
				width: 91.3vw;
				margin-left: auto;
				@include mq(sm2) {
					width: 100%;
				}
			}
		}
		&--cnt {
			&-msg {
				position: absolute;
				top: 25px;
				left: 90px;
				display: flex;
				align-items: center;
				justify-content: center;
				// width: 300px;
				// height: 300px;
				width: vw(300);
				// padding: 40px 30px;
				padding: vw(40) vw(10);
				background-color: #fff;
				border: solid #000 vw(8);
				z-index: 1;
				@include mq(sm2) {
					width: vw2(240);
					height: vw2(240);
					padding: 0;
					top: vw2(25);
					left: 50%;
					transform: translateX(-50%);
				}
				&-inner {
					text-align: center;
				}
				&-ttl {
					margin-bottom: vw(20);
					// font-size: fs(36);
					font-size: vw(36);
					letter-spacing: vw(4);
					line-height: vw(54);
					font-weight: bold;
					@include mq(sm2) {
						font-size: vw2(28);
						letter-spacing: vw2(3.3);
						line-height: vw2(43);
					}
				}
				&-des {
					font-size: vw(17);
					font-weight: bold;
					@include mq(sm2) {
						font-size: vw2(13);
					}
				}
			}
			&-img01 {
				position: absolute;
				left: vw(200);
				bottom: vw(20);
				width: vw(440);
				z-index: 2;
				@include mq(sm2) {
					left: vw2(50);
					bottom: vw2(92);
					width: vw2(280);
				}
				img {
					width: 100%;
				}
			}
			&-img02 {
				position: absolute;
				right: 50px;
				bottom: 0;
				width: vw(320);
				z-index: 2;
				@include mq(sm2) {
					right: vw2(105);
					bottom: vw2(-50);;
					width: vw2(230);
				}
				img {
					width: 100%;
				}
			}
		}
	}
}

.section {
	&-booking {
		margin-bottom: vw(60);
		text-align: center;
		@include mq(sm2) {
			margin-top: vw2(70);
			margin-bottom: vw2(40);
		}
	}
	&-ideal {
		padding-left: vw(143);
		@include mq(sm2) {
      padding: 0 vw2(15);
    }
		&--inner {

		}
		&--top {
			@include mq(sm2) {
	      position: relative;
	      z-index: 2;
	    }
			&-cnt {
				padding: 0 vw(212) 0 vw(77);
			}
			&-ttl {
				font-size: vw(44);
				letter-spacing: vw(4.4);
				font-weight: bold;
				margin-bottom: vw(20);
				@include mq(sm2) {
					font-size: vw2(32);
					letter-spacing: vw2(3.3);
					margin-bottom: vw2(30);
				}
			}
			&-box {
				display: flex;
				align-items: center;
				padding: vw(30) vw(45);
				background: url(../images/top/bg-box01.svg) no-repeat;
		    background-size: 100% 100%;
		    @include mq(sm2) {
		    	display: flex;
		    	flex-flow: column;
		    	flex-wrap: wrap;
		    	// align-items: center;
		    	justify-content: center;
		    	width: vw2(290);
		    	height: vw2(220);
		    	margin: 0 auto;
					padding: 0 vw2(25);
					background-image: url(../images/top/bg-box01-sp.svg);
					background-size: contain;
				}
				&-label {
					margin-right: vw(35);
					font-size: vw(15);
					letter-spacing: vw(2.1);
					line-height: vw(57);
					font-weight: bold;
					@include mq(sm2) {
						margin-right: auto;
						margin-bottom: vw2(10);
						font-size: vw2(13);
						letter-spacing: vw2(1.8);
						line-height: 1;
					}
				}
				&-des {

				}
			}
		}
		&--question {
			display: flex;
			margin-top: vw(30);
			padding-top: vw(140);
			background: url(../images/top/bg-line-home.svg) no-repeat;
			background-size: 100%;
			background-position: right vw(-300) top;
			@include mq(sm2) {
				display: block;
				background: none;
				margin-top: vw2(-100);
			}
			&-left {
				width: vw(570);
				min-height: vw(694);
				margin-right: vw(18);
				padding-top: vw(80);
				background: url(../images/top/bg-question-left.png) center center / 85% no-repeat;
				@include mq(sm2) {
					width: 110%;
					margin-left: -10%;
					min-height: vw2(390);
					margin-right: vw2(22);
					padding-top: vw2(80);
					background: url(../images/top/bg-question-left-sp.png) left vw2(-60) center / auto vw2(384) no-repeat;
				}
				img {
					width: 100%;
					@include mq(sm2) {
			      width: 95%;
			    }
				}
			}
			&-right {
				width: vw(566);
				@include mq(sm2) {
		      width: 100%;
		      margin-top: vw2(-130);
		      padding-top: vw2(30);
		      background: url(../images/top/bg-line-home-sp.svg) no-repeat;
					background-size: auto vw2(538);
					background-position: right vw2(-240) top;
		    }
				&-inner {
					padding-right: vw(40);
					@include mq(sm2) {
						padding: 0;
					}
				}
				&-subTtl {
					font-size: vw(16);
					font-weight: bold;
					letter-spacing: vw(2.9);
					line-height: vw(57);
					@include mq(sm2) {
			      font-size: vw2(13);
						letter-spacing: vw2(2.3);
						line-height: vw2(44);
			    }
				}
				&-ttl {
					margin-bottom: vw(25);
					padding-bottom: vw(10);
					font-size: vw(38);
					font-weight: bold;
					letter-spacing: vw(4.56);
					line-height: vw(57);
					@include mq(sm2) {
			      margin-bottom: vw2(20);
						font-size: vw2(24);
						letter-spacing: vw2(2.88);
						line-height: vw2(45);
			    }
					span {
						padding-bottom: vw(15);
						border-bottom: vw(2) dashed black;
						@include mq(sm2) {
							padding-bottom: vw2(15);
							border-bottom: vw2(2) dashed black;
						}
					}
				}
			}
			&-list {

			}
			&-item {
				position: relative;
				display: flex;
				margin-bottom: vw(25);
				@include mq(sm2) {
					margin-bottom: vw2(20);
					&:last-child {
						margin-bottom: 0;
					}
				}
				&-num {
					position: absolute;
					top: vw(10);
					left: 0;
					width: vw(58);
					height: vw(58);
					img {
						width: 100%;
					}
					@include mq(sm2) {
						top: vw2(10);
						width: vw2(50);
						height: vw2(50);
					}
				}
				&-desc {
					margin-left: vw(68);
					padding-top: vw(8);
					font-size: vw(20);
					font-weight: bold;
					letter-spacing: vw(1.5);
					line-height: vw(57);
					@include mq(sm2) {
						margin-left: vw2(60);
						padding-top: vw2(8);
						font-size: vw2(18);
						font-weight: bold;
						letter-spacing: vw2(1.3);
						line-height: vw2(43);
					}
					span {
						padding-bottom: vw(15);
				    background: url(../images/top/line-italic.gif) left bottom / auto vw(8) repeat-x;
				    @include mq(sm2) {
							padding-bottom: vw2(12);
							background-size: auto vw2(6);
						}
					}
				}
			}
			.section-booking {
				margin-top: vw(150);
				@include mq(sm2) {
					margin-top: vw2(70);
					margin-bottom: vw2(70);
				}
			}
		}
	}
	&-reason {
		margin-top: vw(30);
		background: url(../images/top/bg-reason.svg) no-repeat;
		background-size: vw(1300);
		background-position: top vw(30) center;
		@include mq(sm2) {
			background-size: 100%;
			background-position: top vw2(30) center;
		}
		&--inner {
			padding: 0 vw(200);
			@include mq(sm2) {
				padding: 0;	
			}
		}
		&--ttlWrap {
			text-align: center;
			margin-bottom: vw(35);
		}
		&--ttlInner {
			display: inline-block;
			padding: 0 vw(90) vw(45);
			background: url(../images/top/bg-flag.svg) no-repeat;
			background-size: 100% 100%;
			background-position: top vw(10) center;
			@include mq(sm2) {
				background-size: contain;
				padding: 0 vw2(60) vw2(45);
			}
			.ttl-booking {
				margin-bottom: vw2(0);
				@include mq(sm2) {
					font-size: vw2(13);
				}
				span {
					padding: 0 vw(20) 0 vw(25);
			    background: url(../images/top/2lines-left.svg) left bottom / vw(12) vw(24) no-repeat, url(../images/top/2lines-right.svg) right bottom / .85vw 1.7vw no-repeat;
			    @include mq(sm2) {
			      padding: 0 vw2(20);
			      background: url(../images/top/2lines-left.svg) left vw2(5) bottom / vw2(8) vw2(20) no-repeat, url(../images/top/2lines-right.svg) right vw2(5) bottom / vw2(8) vw2(20) no-repeat;
			    }
				}
				// line-height: 1;
			}
			.section-reason--ttl {
				margin-top: vw2(0);
			}	
		}
		&--ttl {
			margin-top: vw(15);
			font-size: vw(36);
			font-weight: bold;
			letter-spacing: vw(3.6);
			line-height: vw(57);
			@include mq(sm2) {
				margin-top: vw2(15);
				font-size: vw2(24);
				letter-spacing: vw2(2.4);
				line-height: 1.2;
			}
		}
		&--subTtl {
			margin-bottom: vw(20);
			font-size: vw(26);
			font-weight: bold;
			letter-spacing: vw(1.3);
			line-height: vw(57);
			@include mq(sm2) {
				margin: 0 vw2(15);
				font-size: vw2(20);
				letter-spacing: vw2(1);
				line-height: vw2(37);
			}
			span {
				display: inline-block;
				padding-left: vw(35);
				background: url(../images/top/icon-check.svg) left center / vw(26) vw(24) no-repeat, url(../images/top/bg-ttl-check.svg) left bottom / auto vw(7) repeat-x;
				@include mq(sm2) {
					padding-left: vw2(24);
					background: url(../images/top/icon-check.svg) left center / vw2(17) vw2(17) no-repeat, url(../images/top/bg-ttl-check.svg) left bottom / auto vw2(5) repeat-x;
				}
			}
		}
		&--list {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			@include mq(sm2) {
				display: block;
				padding: 0 vw2(20);
				background-color: #F6F4A1;
			}
		}
		&--thumb {
			position: relative;
			padding-top: vw(120);
			@include mq(sm2) {
				padding-top: vw2(120);
				&.item02 {
					padding-top: vw2(10);
				}
				&.item03 {
					padding-top: vw2(20);
				}
			}
			img {
				position: relative;
				z-index: 2;
				width: 100%;
			}
			&.item03 {
				padding-right: vw(50);
			}
		}
		&--msg {
			position: absolute;
			font-weight: bold;
			padding: vw(20) vw(15) vw(65) vw(20);
			font-size: vw(16);
			width: vw(240);
			@include mq(sm2) {
				width: vw2(176);
				padding: vw2(20) vw2(15) vw2(40) vw2(15);
				font-size: vw2(13);
			}
			&.msg01-1 {
				top: 0;
				left: vw(-30);
				background: url(../images/top/bg-msg01-1.svg) no-repeat;
				background-size: 100%;
				@include mq(sm2) {
					top: vw2(20);
					background-size: 100% 100%;
				}
			}
			&.msg01-2 {
				top: vw(30);
				left: vw(200);
				background: url(../images/top/bg-msg01-2.svg) no-repeat;
				background-size: 100%;
				@include mq(sm2) {
					top: vw2(40);
					left: vw2(160);
				}
			}
			&.msg02 {
				// width: vw2(195);
				top: 0;
				right: vw(-130);
				background: url(../images/top/bg-msg02.svg) no-repeat;
				background-size: 100%;
				@include mq(sm2) {
					width: vw2(195);
					top: vw2(-10);
					right: vw2(-160);
					background-size: 100% 100%;
				}
			}
			&.msg03 {
				// width: vw2(195);
				top: vw(10);
				right: vw(-50);
				background: url(../images/top/bg-msg03.svg) no-repeat;
				background-size: 100%;
				@include mq(sm2) {
					width: vw2(195);
					top: vw2(-30);
					right: vw2(-160);
					background-size: 100% 100%;
				}
			}
		}
		&--item {
			position: relative;
			&.item01 {
				width: vw(310);
				@include mq(sm2) {
					width: vw2(261);
				}
			}
			&.item02 {
				width: vw(193);
				z-index: 5;
				@include mq(sm2) {
					width: vw2(174);
				}
			}
			&.item03 {
				width: vw(240);
				z-index: 10;
				@include mq(sm2) {
					width: vw2(180);
				}
			}

		}
		&--direct {
			margin-bottom: vw(120);
			padding: vw(40) vw(50);
			background: url(../images/top/bg-section-direct.svg) no-repeat;
			background-size: contain;
			@include mq(sm2) {
				margin-bottom: vw2(100);
				padding: vw2(25) vw2(5);
				border-top: solid vw2(2.5) #000;
				border-bottom: solid vw2(2.5) #000;
				background: none;	
				.section-booking {
					margin: 0 auto;
				}
			}
			.ttl-dashed {
				margin-bottom: vw(25);
				@include mq(sm2) {
					margin-bottom: vw2(20);
					padding: 0 vw2(20);
					font-size: vw2(18);
				}
			}
			.ttl-booking {
				margin-bottom: vw(15);
				@include mq(sm2) {
					margin-bottom: vw2(20);
				}
			}
		}
	}
	&-value {
		width: vw(1140);
		margin: 0 auto vw(240);
		@include mq(sm2) {
			width: 100%;
		}
		&--inner {
			border: solid vw(10) #E4E4E4;
			padding: 0 vw(70);
			@include mq(sm2) {
				border: none;
				padding: 0;
			}
		}
		&--ttlWrap {
			text-align: center;
			margin-top: vw(-110);
		}
		&--ttlInner {
			display: inline-block;
			padding: vw(50) vw(40) vw(20);
			background: url(../images/top/bg-value.svg) no-repeat;
			background-size: 100% auto;
			background-position: top center;
			@include mq(sm2) {
				display: block;
				padding: vw2(30) vw2(10) vw2(20);
				background-size: 110% auto;
			}
		}
		&--subTtl {
			margin: vw(5) 0 vw(20);
			line-height: 1;
			font-family: $font-a;
			font-weight: bold;
			font-size: vw(18);
			letter-spacing: vw(1.8);
			@include mq(sm2) {
				margin: vw2(5) 0 vw2(20);
				font-size: vw2(13);
				letter-spacing: vw2(1.3);
			}
			span {
				padding-top: vw(30);
				background: url(../images/top/icon-goodvalue.svg) top center no-repeat;
				@include mq(sm2) {
					padding-top: vw2(18);
					background-size: vw2(34);
				}
			}
		}
		&--ttl {
			margin-top: vw(15);
			font-size: vw(36);
			font-weight: bold;
			letter-spacing: vw(3.6);
			line-height: vw(57);
			@include mq(sm2) {
				margin-top: 0;
				font-size: vw2(24);
				font-weight: bold;
				letter-spacing: vw2(2.4);
				line-height: vw2(36);
			}
		}
		&--ttlSum {
			font-size: vw(15);
			font-weight: bold;
			letter-spacing: vw(1.1);
			line-height: vw(57);
			text-align: center;
			@include mq(sm2) {
				margin-bottom: vw2(10);
				padding: 0 vw2(25);
				font-size: vw2(14);
				letter-spacing: vw2(1.1);
				line-height: vw2(22);
				text-align: left;
			}
		}
		&--cnt {
			&-row {
				display: flex;
				margin-bottom: vw(10);
				@include mq(sm2) {
					display: block;
					padding: 0 vw2(20);
				}
				&:last-child {
					margin-bottom: 0;
				}
				&:nth-child(even) {
					flex-flow: row-reverse;
					.section-value--cnt-thumb {
						margin-right: 0;
						margin-left: vw(35);
					}
				}
			}
			&-thumb {
				width: vw(335);
				margin-right: vw(35);
				@include mq(sm2) {
					width: 90%;
					margin: 0 auto vw2(15) !important;
				}
				&.type2 {
					width: vw(300);
					@include mq(sm2) {
						width: 90%;
						margin: 0 auto vw2(15) !important;
					}
				}
				img {
					width: 100%;
				}
			}
			&-infor {
				width: vw(580);
				padding-top: vw(30);
				@include mq(sm2) {
					width: 100%;
				}
			}
			.section-reason--direct {
				margin-top: vw(40);
				margin-bottom: vw(-215);
				@include mq(sm2) {
					margin-top: vw2(50);
					// margin-bottom: vw2(-215);
					.ttl-booking {
						margin: vw2(20) auto !important;
					}
				}
				.ttl-dashed {
					margin-bottom: vw(10);
				}
				.ttl-booking {
					// margin-bottom: 0;
				}
			}
		}

		&--listCheck {
			margin-top: vw(20);
			@include mq(sm2) {
				margin-top: vw2(20);
				margin-bottom: vw2(40);
			}
			&-item {
				margin-bottom: vw(5);
				padding-left: vw(25);
				font-size: vw(16);
				font-weight: bold;
				letter-spacing: vw(.8);
				background: url(../images/top/icon-check.svg) left center / vw(16) vw(14.5) no-repeat;
				line-height: 1.8;
				@include mq(sm2) {
					margin-bottom: vw2(8);
					padding-left: vw2(25);
					font-size: vw2(15);
					background-size: vw2(14) vw2(14);
					background-position: top vw2(8) left;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&--listQAWrap {
			.desc {
				margin-top: vw(20);
				@include mq(sm2) {
					margin-top: vw2(20);
				}
			}
		}
		&--listQA {
			padding-left: vw(30);
			&-item {
				margin-bottom: vw(5);
				padding-left: vw(25);
				font-size: vw(16);
				letter-spacing: vw(.8);
				line-height: vw(40);
				font-weight: bold;
				background: url(../images/top/icon-qa.png) left center / vw(15) vw(33) no-repeat;
				@include mq(sm2) {
					margin-bottom: vw2(15);
					padding-left: vw2(25);
					font-size: vw2(15);
					letter-spacing: vw2(1.3);
					line-height: vw2(25);
					background-size: vw2(15) vw2(33);
					background-position: top left;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}

			&-ttl {
				margin: vw(30) 0 vw(10);
				padding: vw(15) vw(22) vw(32);
				font-size: vw(15);
				letter-spacing: vw(.75);
				font-weight: bold;
				line-height: 1.6;
				background: url(../images/top/bg-listQA.svg) no-repeat;
				background-size: contain;
				@include mq(sm2) {
					margin: vw2(34) vw2(-10) vw2(10);
					padding: vw2(18) vw2(20) vw2(35);
					font-size: vw2(15);
					letter-spacing: vw2(.75);
					background-image: url(../images/top/bg-listQA-sp.svg);
					background-size: 100% 100%;
				}
			}
		}
	}
	&-point {
		margin-left: vw(60);
		margin-bottom: vw(90);
		@include mq(sm2) {
			margin: vw2(80) 0 vw2(50) 0;
		}
		&--inner {
			position: relative;
			margin-top: vw(-60);
			padding-top: vw(60);
			background: url(../images/top/bg-point.svg) repeat;
			@include mq(sm2) {
				background: none;
			}
			&:after {
				position: absolute;
				top: vw(55);
				left: 0;
				width: vw(1040);
				height: 100%;
				display: block;
				background: url(../images/top/bg-white.jpg) repeat;
				background-position: left top;
				content: "";
			}
		}
		&--list {
			position: relative;
			z-index: 1;
		}
		&--ttl {
			display: inline-block;
			position: relative;
			padding: vw(84) vw(140) vw(21) vw(91);
			font-size: vw(34);
			letter-spacing: vw(3.4);
			font-weight: bold;
			line-height: vw(57);
			background: url(../images/top/bg-ttl-point.png) no-repeat;
			background-size: 100% 100%;
			z-index: 1;
			@include mq(sm2) {
				display: block;
				padding: vw2(30) vw2(12) vw2(15);
				font-size: vw2(22);
				letter-spacing: vw2(2.4);
				line-height: vw2(47);
				background-size: 100vw;
			}
		}
		&--item {
			display: inline-block;
			width: vw(1040);
			margin-bottom: vw(50);
			@include mq(sm2) {
				width: 100%;
				margin-bottom: vw2(25);
			}
			&:last-child {
				margin-bottom: 0;
			}
			// &.point01 {
			// 	margin-bottom: 
			// }
			&-ttlWrap {
				display: flex;
				align-items: center;
				margin-left: vw(100);
				margin-bottom: vw(20);
				padding-right: vw(130);
				@include mq(sm2) {
					align-items: flex-start;
					margin-left: vw2(15);
					margin-bottom: vw2(25);
					padding-right: vw(15);
				}
			}
			&-num {
				width: vw(110);
				margin-right: vw(24);
				flex-shrink: 0;
				@include mq(sm2) {
					width: vw2(80);
					margin-right: vw2(10);
				}
				img {
					width: 100%;
				}
			}
			&-ttl {
				padding-top: vw(5);
				&-big {
					font-size: vw(22);
					letter-spacing: vw(1.65);
					line-height: 1.8;
					font-weight: bold;
					@include mq(sm2) {
						font-size: vw2(20);
						letter-spacing: vw2(1);
						line-height: vw2(29);
					}
				}
				&-small {
					font-size: vw(15);
					letter-spacing: vw(1.13);
					line-height: 1.6;
					font-weight: bold;
					@include mq(sm2) {
						margin-top: vw2(15);
						font-size: vw2(14);
						letter-spacing: vw2(1.05);
						line-height: vw2(22.5);
					}
				}
			}
			&-thumb {
				width: vw(1055);
				margin: 0 vw(-15) 0 vw(50);
				@include mq(sm2) {
					width: 100%;
				}
				img {
					width: 100%;
				}
			}
		}
		&--subListWrap {
			position: relative;
			z-index: 1;
			&:before {
				position: absolute;
				top: vw(-180);
				right: vw(-190);
				width: vw(310);
				height: vw(196);
				display: block;
				background: url(../images/top/bg-car.svg) no-repeat;
				background-size: contain;
				content: "";
				@include mq(sm2) {
					top: vw2(-105);
					right: vw2(40);
					width: vw2(250);
					height: vw2(137);
				}
			}
			&:after {
				position: absolute;
				top: vw(55);
				left: vw(250);
				width: vw(1100);
				height: 100%;
				display: block;
				background: url(../images/top/bg-point.svg) repeat;
				background-position: left vw(100) top;
				content: "";
				@include mq(sm2) {
					display: none;
				}
			}
		}
		&--subList {
			position: relative;
			display: flex;
			justify-content: space-between;
			width: vw(980);
			margin: vw(50) vw(-120) 0 auto;
			z-index: 1;
			@include mq(sm2) {
				display: block;
				width: 100%;
				margin: vw2(115) auto 0;
			}
			&-child {
				width: 31%;
				@include mq(sm2) {
					width: 100%;
					margin-bottom: vw2(30);
				}
			}
			&-thumbWrap {
				position: relative;
			}
			&-thumb {
				position: relative;
				z-index: 1;
				@include mq(sm2) {
					width: vw2(298);
					height: vw2(227);
					margin: 0 auto;
				}
				img {
					width: 100%;
				}
				&:before {
			    position: absolute;
			    top: -2%;
			    left: -2%;
			    display: block;
			    width: 105%;
			    height: 105%;
			    background: url(../images/top/border-img.svg) no-repeat;
			    background-size: contain;
			    content: "";
			    z-index: 2;
			    @include mq(sm2) {
						width: 100%;
				    height: 100%;
					}
				}
			}
			&-ttl {
				display: flex;
				align-items: center;
				max-width: 90%;
				position: absolute;
				left: vw(-20);
				bottom: vw(10);
				z-index: 2;
				@include mq(sm2) {
					left: vw2(20);
					bottom: vw2(20);
					max-width: 75%;
				}
				span {
					min-width: vw(270);
					padding: vw(18) vw(30) vw(18);
					display: inline-block;
					font-size: vw(13);
					letter-spacing: vw(.65);
					text-align: center;
					line-height: 1.4;
					background: url(../images/top/bg-ribbon.svg) no-repeat;
					background-size: 100% 100%;
					@include mq(sm2) {
						min-width: vw2(270);
						padding: vw2(15) vw2(20);
						font-size: vw2(13);
						letter-spacing: vw2(.65);
					}
				}
			}
		}
		&--subInfor {
			position: relative;
			margin: vw(50) vw(-120) 0 vw(150);
			z-index: 2;
			@include mq(sm2) {
				margin: 0 vw2(32);
				.desc {
					margin-bottom: vw2(20);
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		&--booking {
			width: vw(960);
			margin: vw(100) auto 0;
			@include mq(sm2) {
				width: 100%;
				margin-top: 0;
			}
			.section-booking {
				padding: vw(40) 0 vw(60);
				border: solid vw(10) #E4E4E4;
				@include mq(sm2) {
					border: none;
					margin: vw2(40) 0 vw2(20);
				}
			}
		}
	}

	&-access {
		width: vw(960);
		margin: vw(120) auto vw(80);
		@include mq(sm2) {
			width: 100%;
			padding: 0 vw2(10);
			margin: vw2(80) 0 vw2(50) 0;
		}
		&--ttl {
			margin-bottom: vw(40);
			padding: vw2(25) vw2(25) 0 vw2(30); 
			margin-bottom: vw2(30);
			text-align: center;
			@include mq(sm2) {
				text-align: left;
				background: url(../images/top/bt-ttl-access.svg) top left / vw2(30) vw2(30) no-repeat;
			}
			span {
				padding: vw(50) vw(50) 0 vw(60); 
				font-size: vw(30);
				font-weight: bold;
				letter-spacing: vw(3);
				line-height: 1.8;
				background: url(../images/top/bt-ttl-access.svg) top left / vw(70) vw(70) no-repeat;
				@include mq(sm2) {
					padding: 0; 
					font-size: vw2(24);
					letter-spacing: vw2(2.4);
					line-height: 1.6;
					background: none;
				}
			}
		}
		&--infor {
			display: flex;
			margin-bottom: vw(30);
			@include mq(sm2) {
				display: block;
				margin-bottom: vw2(40);
			}
			&-thumb {
				width: vw(420);
				height: vw(320);
				margin-right: vw(50);
				flex-shrink: 0;
				position: relative;
				z-index: 1;
				@include mq(sm2) {
					width: 98%;
					height: vw2(266);
					margin: 0 auto vw2(30);
				}
				&:before {
					position: absolute;
					top: -2%;
					left: -2%;
					display: block;
					width: 103%;
					height: 104%;
					background: url(../images/top/border-img.svg) no-repeat;
					background-size: 100% 100%;
					content: "";
					z-index: 2;
				}
				img {
					width: 100%;
				}
			}
			&-cnt {

			}
			&-name {
				padding: vw(15) 0;
				font-size: vw(22);
				font-weight: bold;
				letter-spacing: vw(1.65);
				line-height: 1.8;
				border-top: dashed vw(3) #000; 
				border-bottom: dashed vw(3) #000; 
				@include mq(sm2) {
					margin-bottom: vw2(15);
					font-size: vw2(18);
					letter-spacing: vw2(1.35);
					border-width: vw2(2);
				}
			}
			&-summary {
				padding: vw(20);
				font-size: vw(14);
				letter-spacing: vw(.7);
				line-height: 1.8;
				@include mq(sm2) {
					padding: 0 vw2(20) vw2(20);
					font-size: vw2(14);
					letter-spacing: vw2(.7);
				}
			}
			&-table {
				margin-bottom: vw(20);
				table {
					width: 100%;
					font-size: vw(14);
					border: solid vw(5) #E4E4E4;
					@include mq(sm2) {
						display: block;
						border-width: vw2(3);
						padding: vw2(20);
						font-size: vw2(14);
					}
				}
				tr {
					@include mq(sm2) {
						display: block;
						margin-bottom: vw2(10);
					}
				}
				th {
					text-align: left;
					font-weight: bold;
					@include mq(sm2) {
						margin-bottom: vw2(5);
					}
				}
				th, td {
					padding: vw(10) vw(20);
					@include mq(sm2) {
						display: block;
						padding: 0;
					}
				}
				td {
					padding-left: vw(20);
					@include mq(sm2) {
						padding-left: 0;
					}
				}
			}
			&-link {
				@include mq(sm2) {
					margin-top: vw2(25);
					text-align: center;
				}
			}
		}
		&--map {
			position: relative;
			&-iframe {
				position: relative;
				padding: vw(20);
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: vw(280);
					height: vw(210);
					background: url(../images/top/bg-map01.svg) no-repeat;
					background-position: top left;
					content: "";
				}
				&:after {
					position: absolute;
					bottom: vw(5);
					right: 0;
					display: block;
					width: vw(280);
					height: vw(210);
					background: url(../images/top/bg-map02.svg) no-repeat;
					background-position: bottom right;
					content: "";
					@include mq(sm2) {
						bottom: vw2(5);
					}
				}
				iframe {
					width: 100%;
					height: vw(300);
					@include mq(sm2) {
						height: vw2(250);
					}
				}
			}
			&-direct {
				margin-top: vw(-5);
				text-align: center;
			}
		}
	}

	&-entry {
		padding: vw(50) 0 vw(20);
		background-color: #F6F4A1;
		@include mq(sm2) {
			.section-booking {
				margin: vw2(20) auto;
			}
		}
	}
}