@charset "UTF-8";

/* Fade up on scroll */
.fadeleft {
  opacity: 0;
  transform: translate(-80px, 0);
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  &.in {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Fade up on scroll */
.fadeleft2 {
  opacity: 0;
  transform: translate(-80px, 0);
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  @include mq(sm2) {
  	transform: translate(-80%, 0);
  }
  &.in {
    opacity: 1;
    transform: translate(0, 0);
    @include mq(sm2) {
	  	transform: translate(-50%, 0);
	  }
  }
}
